/* http://css3pie.com/documentation/getting-started/ */

html, body, dl, dt, dd {
	margin:0;
	padding:0;
}

html, body {
	font-family: Arial, sans-serif;
	font-size: 11pt;
	background: white;
}

dt, dd {
	float:left;
	margin-top: 10px;
	margin-bottom: 10px;
}

dt {
	text-align:right;
	clear: both;
	width: 150px;
	margin-right: 10px;
}

dd {
	width: 200px;
	position: relative;
}

#noscript {
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 100%;
	height: 100%;
	
	background-color:rgba(0,0,0,0.7);
}

#noscript .message {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -200px;
	
	/*height: 140px;*/
	width: 400px;
	
	font-size: 12pt;
	background: white;
	color: black;
	padding: 15px;
}

/* The element after the definition list has to clear the floats */
dl+* {
	clear: both;
}


select {
	height: 20px;
}

select:focus {
	height: 100px;
}

dd.error,
dt.error {
	color: rgb(170, 0, 0);
}

/* Inputs */
input,
select,
textarea {
	width: 100%;
	border: solid black 1px;
}

input:focus,
textarea:focus,
select:focus {
	background-color: yellow;
}

dd.error input,
dd.error textarea,
dd.error select {
	border-color: rgb(170, 0, 0);
	color: rgb(170, 0, 0);
	background: rgb(255, 210, 210);
}

dd.error input:focus,
dd.error textarea:focus,
dd.error select:focus {
	color: black;
	background: rgb(255, 200, 200);
}

/* Assistant */
.help {
	border-width: 50px 19px 19px 40px;
	-moz-border-image:url('../img/helpbg.png') 50 19 19 40  repeat;
	-webkit-border-image:url('../img/helpbg.png') 50 19 19 40  repeat;
	-o-border-image:url('../img/helpbg.png') 50 19 19 40 repeat;
	border-image:url('../img/helpbg.png') 50 19 19 40 repeat;
	/* https://bugzilla.mozilla.org/show_bug.cgi?id=748253 */
	border-color: #cccccc;
	border-style: solid;
	width: 300px;
	left: 200px;
	top: -20px;
	position: absolute;
	visibility: hidden;
}

input:focus + .help,
textarea:focus + .help,
select:focus + .help {
	visibility: visible !important;
}

.selection {
	height: 20px;
	width: 100%;
	background: red;
}

.myList {
	position: relative;
}

.myList select {
	position: absolute;
	z-index: -1;
/* 	display: none; */
}

.myList.open select {
	position: relative;
	z-index: 0;
/* 	display: block; */
}

.myList .selection {
	display: block;
}
.myList.open .selection {
	display: none;
}
